{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<body>
    <div class="container mt-4 px-0">
        <div class="col-md-12 text-center">
            <h1>Projects</h1>
        </div>
        <!-- About Me Section -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Projects Overview</h2>
                <p>
                    As someone obsessed with learning new things, I'm constantly thinking of or taking on new projects. These have ranged from full bootcamps
                    to teaching opportunities, to 
                </p>
            </div>
        </div>
        <!-- Skills Section -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Projects</h2>
                    <div>
                        <h5 style="margin-top: 1em;">Cybersecurity Bootcamp</h5>
                            <p>A comprehensive learning path taught by industry experts. Courses ranged from Windows and Linux security, 
                                Network security, Cloud security, ethical hacking, digital foresics, incident response, and more.
                            </p>
                        <h5 style="margin-top: 1em;">TryHackMe Defensive Security Learning Path</h5>
                            <p>Over 30 courses allowing hands on real world experience in a variety of topics. Courses include topics like 
                                Splunk, Wireshark, malware analysis tools, various incident response and forensics tools, and more.
                            </p>
                        <h5 style="margin-top: 1em;">Security Analyst Lab</h5>
                            <p>In Azure, created and configured an intentionally vulnerable machine allowing ICMP traffic from the open internet. 
                                Pushed machine logs to Microsoft Sentinel and created a map displaying log-in attempts around the world.
                            </p>
                    </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}